<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aquario.folkrices">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="co.aquario.folkrice.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="co.aquario.folkrice.permission.C2D_MESSAGE" />

    <application
        android:name="co.aquario.folkrice.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.WithoutActionBar">
        <activity
            android:name="co.aquario.folkrice.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="cat.ereza.customactivityoncrash.RESTART" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="co.aquario.folkrice.activities.CustomErrorActivity" />
        <activity android:name="co.aquario.folkrice.activities.ItemChooseActivity" />
        <activity android:name="co.aquario.folkrice.activities.Activity_main_Buy" />
        <activity android:name="co.aquario.folkrice.activities.Activity_main_register" />
        <activity android:name="co.aquario.folkrice.activities.Activity_main_login" />
        <activity android:name="co.aquario.folkrice.activities.Activity_main_PaymentDetail" />
        <activity android:name="co.aquario.folkrice.activities.Activity_main_edit_adress" />
        <activity android:name="co.aquario.folkrice.activities.DecoderActivity" />
        <activity android:name="co.aquario.folkrice.activities.ActivityAbount" />
        <activity android:name="co.aquario.folkrice.activities.ActivityHistoryDetail" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--                   IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="co.aquario.folkrice" />
            </intent-filter>
        </receiver>

        <activity
            android:name="co.aquario.folkrice.activities.HistoryActivity"
            android:label="@string/title_activity_history_test"
            android:theme="@style/AppTheme.WithoutActionBar"></activity>
    </application>

</manifest>
